<div class="col-10 mt-5">
  <form action="/">
    <div class="form-group mb-4">
      <label for="inputUrl"></label>
      <input type="text" class="form-control" id="inputUrl" name="inputUrl" placeholder="Please put your URl here">
    </div>

    <button type="submit" class="btn btn-outline-primary w-50">Shorten!</button>
  </form>
</div>